#skipButton {
    background-color: #333;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#skipButton:hover {
    background-color: #555;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 20px;
}

.banner img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.banner h1 {
    margin-left: 20px;
    font-size: 2rem;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: center; 
    background-color: #333;
	position: relative;

}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.current {
    text-transform: uppercase;
    text-decoration: underline;
    background-color: transparent;
}

.grid{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
	
.grid img{
	width: 45%;
	height: auto;
	border: 1px solid black;
	object-fit: fit;
	transition: transform 0.3s ease-in-out;
}

#history{
	text-align: center;
	border: 1px solid black;
	padding: 2vw;
	margin: 3vw;
	background-color: #8080801f;
}

#certs{
	border: 5px solid black;
	padding: 1vw;
	margin: 2vw;
	background-color: #8080801f;
}

#cert_descriptions{
	border: 1px solid black;
	padding: 1vw;
	margin: 1vw;
	background-color: #8080801f;
}

#proof{
	border: 5px solid black;
	padding: 1vw;
	margin: 2vw;
	background-color: #8080801f;
}
	
@media (prefers-reduced-motion: reduce) {
        animation: none;
        transition: none;
        scroll-behavior: auto;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }

    #history, #certs, #cert_descriptions {
        border: 1px solid #e0e0e0;
        background-color: #333;
    }

    .navbar {
        background-color: #333;
    }

    .navbar ul li a {
        color: #e0e0e0;
    }

    .banner {
        background-color: #333;
    }

    .banner h1 {
        color: #e0e0e0;
    }

    .banner img {
        border: 1px solid #e0e0e0;
    }
}

